<div class="background-img">

  <div class="search-container">

    <div class=" search-group">

    <div class="search-item">
      <label>Category</label>
      <select [(ngModel)]="selected" (change)="updateSorting($event)" required>
        <option value="">All</option>
        <option value="Cookies">Cookies</option>
        <option value="Brownie">Brownie</option>
        <option value="Cake">Cake</option>
        <option value="Pastry">Pastry</option>
      </select>
    </div>
    <div class="search-item">
      <label>Search A Pastry</label>
      <input type="text" [(ngModel)]="cakeSearch" placeholder="Search A Pastry" />
    </div>

    </div>
      <button class= "search-btn small-btn" mat-raised-button color="accent" (click)="searchPastry()">Search</button>
      <!-- <button class= "search-btn small-btn" mat-raised-button color="primary" (click)="showAllPastries()">Show All</button> -->
    </div>

  <div class="pastry-grid">
    <mat-card *ngFor="let pastry of cakes" class="pastry-card" >
      <!-- <mat-card-content style="padding: 5px" class="card-container"> -->
        <div class="img-box">
          <img [src]="pastry.img" alt="{{pastry.name}}" />
          <!-- <img style="border-radius: 200px" mat-card-sm-image [src]="pastry.img" alt="" /> -->
        </div>
        <div class="pastry-info">
          <p class="name">{{ pastry.name }}</p>
          <p>{{ pastry.category }}</p>
          <p>${{ pastry.price }}.00</p>

          <button class="cart-btn" mat-raised-button color="primary" (click)="addToCart(pastry)">
          Add to Cart
          </button>
        </div>
      <!-- </mat-card-content> -->
    </mat-card>
    
  </div>
  <div class="bottom-button">
    <button mat-raised-button color="accent" (click)="showAllPastries()">
      Show All Pastries
    </button>
  </div>
</div>