<div class="background-img">

  <div class="search-container">
    <mat-form-field>
      <mat-label>Pastry</mat-label>
      <select [(ngModel)]="selected" (change)="updateSorting($event)" matNativeControl required>
        <option value="Cookies">Cookies</option>
        <option value="Brownie">Brownie</option>
        <option value="Cake">Cake</option>
        <option value="Pastry">Pastry</option>
      </select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" [(ngModel)]="cakeSearch" placeholder="Search A Pastry" />
    </mat-form-field>
    <button style="height: 55px; text-align: center;" mat-raised-button type="button" (click)="searchPastry()">
      Search
    </button>
  </div>

  <div class="contain">
    <mat-card *ngFor="let pastry of cakes" class="card">
      <mat-card-content style="padding: 5px" class="card-container">
        <div class="img-box">
          <img style="border-radius: 200px" mat-card-sm-image [src]="pastry.img" alt="" />
        </div>
        <div class="pastry-container">
          <h2>{{ pastry.name }}</h2>
          <p>{{ pastry.catergory }}</p>
          <p>${{ pastry.price }}.00</p>

          <a routerLink="/buy-cake/{{ pastry.id }}" routerLinkActive="activebutton">
            <button style="background-color: hotpink; color: aqua" mat-raised-button type="button">
              Buy
            </button>
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>